
body{
	font-family: Helvetica, Arial, sans-serif;
	background-color: white;
	min-width: 800px;
}

#header {
	background-color: darkorange;
	display: flex;
	height: 100px;
	align-content: center;
	flex-flow: row wrap;
	position: fixed;
	box-shadow: 2px 2px 5px;
	

}
h3 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1,3em;
	text-align: center;
	color: saddlebrown;
	text-shadow: 2px 2px 5px white;
}

.head1 {
	
	 flex: 1 auto; width: 25%; height: 100px;
	 align-content: center;
	 text-align:  center;
	 color: white;
	 text-shadow: 2px 2px 5px black;
	
}

.head2{
	flex: 1 auto; width: 60%; height: 100px;
	align-content: center;
	text-align:  center;
	align-self: stretch;
	justify-content: space-around;
	color: white;
	text-shadow: 2px 2px 5px black;
}
.head3{
	flex: 1 auto; width: 15%; height: 100px;
	align-content: center;
	text-align:  center;
}
#content{
	top:-40px;
	background-color: bisque;
	flex: 1 auto; width: 70%; height: 100%;
	margin-left: 15%;
	margin-right: 15%;
	padding-top: 100px;
	padding-left: 1%;
	padding-right: 1%;

}
